*.dylib
*.o
*.dSYM
*.DS_Store
build/*
cpp/rabbit/build/*
*/docs/
!website/docs/
__pycache__
*_pb2.py
*.pb.cc
*.pb.h
.vscode/settings.json
protobuf*
abseil-cpp
yaml-cpp
install
test
python/nsb_client.egg-info/*
.vscode